In [2]:
import pandas as pd
vine_df = pd.read_csv('vine_table')

In [3]:
vine_df.count()

review_id            9002021
star_rating          9001881
helpful_votes        9001881
total_votes          9001881
vine                 9001881
verified_purchase    9001881
dtype: int64

In [5]:
#There is a DataFrame or table for the vine_table data using one of three methods above
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y
5,R11LOHEDYJALTN,5.0,0.0,0.0,N,Y
6,R3ALQVQB2P9LA7,4.0,0.0,0.0,N,Y
7,R3MWLXLNO21PDQ,5.0,0.0,0.0,N,Y
8,R2L15IS24CX0LI,5.0,0.0,0.0,N,Y
9,R1DJ8976WPWVZU,3.0,0.0,0.0,N,Y

In [8]:
#The data is filtered to create a DataFrame or table where there are 20 or more total votes
vine_df_20 = vine_df.loc[vine_df['total_votes'] >= 20] 
print(vine_df_20.count())

review_id            72587
star_rating          72587
helpful_votes        72587
total_votes          72587
vine                 72587
verified_purchase    72587
dtype: int64

In [12]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
vine_df_20['percent'] = vine_df_20['helpful_votes']/vine_df_20['total_votes']
vine_df_20.head()

/var/folders/0d/lhhc1lw55g50c36v96hcq9hh0000gn/T/ipykernel_61860/1226070389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vine_df_20['percent'] = vine_df_20['helpful_votes']/vine_df_20['total_votes']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y,0.957447

In [18]:
#The data is filtered to create a DataFrame or table where the percentage of helpful_votes is equal to or greater than 50% (5 pt)
df_50 = vine_df_20.loc[vine_df_20['helpful_votes'] >= 50] 
df_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y,0.915254
2731,R2AYJHH8WJNGAU,4.0,98.0,104.0,N,Y,0.942308
3164,R2EE2TR4MRDV0U,5.0,53.0,59.0,N,Y,0.898305
3368,RD4A80I5JDHED,5.0,69.0,77.0,N,N,0.896104
3706,RZOPM62JMW97V,2.0,103.0,108.0,N,Y,0.953704

In [20]:
#The data is filtered to create a DataFrame or table where there is a Vine review (5 pt)
paid_vine = vine_df_20.loc[(vine_df_20["vine"]=="Y") & (vine_df_20["percent"] >= .5)]
paid_vine.count()

review_id            613
star_rating          613
helpful_votes        613
total_votes          613
vine                 613
verified_purchase    613
percent              613
dtype: int64

In [21]:
#The data is filtered to create a DataFrame or table where there isnâ€™t a Vine review
unpaid_vine = vine_df_20.loc[(vine_df_20["vine"]=="N") & (vine_df_20["percent"] >= .5)]
unpaid_vine.count()

review_id            64968
star_rating          64968
helpful_votes        64968
total_votes          64968
vine                 64968
verified_purchase    64968
percent              64968
dtype: int64

In [22]:
#The total number of reviews, the number of 5-star reviews, and the percentage 5-star reviews are calculated for all Vine and non-Vine reviews
five_star_reviews_paid = vine_df_20.loc[(vine_df_20["vine"]=="Y") & (vine_df_20["percent"] >= .5) & (vine_df_20["star_rating"] == 5)]
five_star_reviews_paid.count()

review_id            222
star_rating          222
helpful_votes        222
total_votes          222
vine                 222
verified_purchase    222
percent              222
dtype: int64

In [23]:
five_star_reviews_notpaid = vine_df_20.loc[(vine_df_20["vine"]=="N") & (vine_df_20["percent"] >= .5) & (vine_df_20["star_rating"] == 5)]
five_star_reviews_notpaid.count()

review_id            30543
star_rating          30543
helpful_votes        30543
total_votes          30543
vine                 30543
verified_purchase    30543
percent              30543
dtype: int64

In [24]:
percent_five_star_review_notpaid = five_star_reviews_notpaid['review_id'].count()/vine_df_20['review_id'].count() * 100
percent_five_star_review_notpaid = "{:.1f}%".format(percent_five_star_review_notpaid)
percent_five_star_review_notpaid

'42.1%'

In [26]:
percent_five_star_review_paid = five_star_reviews_paid['review_id'].count()/vine_df_20['review_id'].count() * 100
percent_five_star_review_paid = "{:.1f}%".format(percent_five_star_review_paid)
percent_five_star_review_paid

'0.3%'